{% extends "base.html" %}
{% load static %}
{% block head %}
    <meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}


{% block content %}
<div class="row d-flex bg-light h-auto border-1 rounded-bottom">
<form method="post">{% csrf_token %}
    {% for field in account_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color:grey;">{{field.help_text}}</small>
            {% endif %}
        </p>
    {% endfor %}
    {% for field in account_form %}
        {% for error in field.errors %}
            <p style="color:red;">{{error}}</p>
        {% endfor %}
    {% endfor %}
    {% if account_form.non_field_errors %}
        <div style="color:red;">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}
    <button type="submit" class="w-100 btn btn-primary my-3">Save</button>
</form>
</div>
{% endblock %}