{% extends 'base.html' %}
{% load static %}

{% block head %}
  <meta charset="utf-8">
  <title>Home</title> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="row justify-content-center d-flex bg-light h-auto border-1 rounded-bottom">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li><a href="#" class="nav-link link-dark">Photos</a></li>
        <li><a href="#" class="nav-link link-dark">Videos</a></li>
        <li><a href="#" class="nav-link link-dark">Groups</a></li>
        <li><a href="#" class="nav-link link-dark">Friends</a></li>
      </ul>
      <hr>
    </div>
    <div class="col-12 col-lg-9 col-md-9 col-sm-12 d-flex flex-column border-start mx-0 border-secondary">
      {% for post in posts %}
        {% include "post.html" with post=post user=user %}
      {% endfor %}
    </div>
  </div>
{% endblock %}