{% load static %}
<div class="border border-secondary rounded mx-4 my-4" style="padding: 20px;">                    
  <div class="d-flex flex-wrap">
    <img class="img rounded-circle me-2" src="{% static 'images/avatar.png' %}" width="60" height="60">
    <h2 class="my-auto">
      <a class="text-decoration-none text-dark " href="#">{{post.user.username}}</a> 
      <span class="fw-light fst-italic">posted on {{post.time}}</span>
      
    </h2>
  </div>
  <div class="my-3 border border-secondary">
    <p class="p-sm-3 text-muted">{{post.text}}</p>
  </div>
  {% if post.user.email == user.email or user.is_admin %}
    <a href="{{post.id}}/delete" class="button bg-danger active text-light nav-link rounded">Delete</a>
  {% endif %}
</div>