{% extends "base.html" %}
{% block head %}
	<meta charset="utf-8">
	<title>Makin a Post</title>
{% endblock %}
{% block content %}
<main class="container row d-flex bg-light h-auto border-1 rounded-bottom form-signin">
	<form class="my-4" method="post">{% csrf_token %}
		<h1 class="h3 mb-3 fw-normal">Text:</h1>
		<textarea type="textarea" name="text" class="form-control mb-2" id="floatingInput" placeholder="Your thoughts and feelings" style="height: 200px"></textarea>
		<button class="w-100 btn btn-lg btn-primary" type="submit">Post</button>
  </form>
</main>
{% endblock%}