{% load static %}
<div class="border border-secondary rounded mx-4 my-4" style="padding: 20px;">                    
  <div class="d-flex flex-wrap">
    <img class="img rounded-circle me-2" src="{% static 'images/avatar.png' %}" width="60" height="60">
    <h2 class="my-auto">
      <a class="text-decoration-none text-dark " href="#">{{data.user.username}}</a> 
      <span class="fw-light fst-italic">posted on {{data.time}}</span>
    </h2>
  </div>
  <div class="my-3 border border-secondary">
    <p class="p-sm-3 text-muted">{{data.text}}</p>
  </div>
</div>