<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"> -->
</head>
<!-- {% comment %} {% endblock %} {% endcomment %} -->
<body>
	<!-- {% comment %} {% block content %} {% endcomment %} -->
	<div class="container-fluid" style="margin-top: 190px;">
		<div class="row justify-content-center"style="margin-top:10%">
			<div class="col-lg-5 col-md-8 col-sm-9 col-xs-9" style="border-radius: 30px; padding: 20px; background-color:blanchedalmond;">
				<form class="" action="home">
						<div class="form-group">
		    					<label for="Text input">Creation of the New Post</label>
		    					<textarea class="form-control" rows="5"></textarea>
  						</div>
					<button type="submit" class="w-100 btn btn-primary mt-3">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<!-- {% comment %} {% endblock%} {% endcomment %} -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" 
	crossorigin="anonymous"></script>	 
</body>