{% extends "base.html" %}
{% load static %}
{% block head %}
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container row d-flex bg-light h-auto border-1 rounded-bottom">
	<form class="p-3 justify-content-center" method="post">{% csrf_token %}
		{% for field in registration_form %}
			<p>
				{{field.label_tag}}
				{{field}}

				{% if field.help_text %}
					<small style="color:grey;">{{field.help_text}}</small>
				{% endif %}

				{% for error in field.errors %}
					<p style="color:red;">{{error}}</p>
				{% endfor %}
			</p>
		{% endfor %}
		<button type="submit" class="w-100 btn btn-primary my-3">Submit</button>
	</form>
</div>
{% endblock%}